.counterButton {
	background-color: green;
	color: white;
	border-radius: 100%;
}

.counterH1 {
	background: linear-gradient(to top right, red, blue);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	font-size: 1rem;
}
.counterH12 {
	background: linear-gradient(to top right, red, blue);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	font-size: 2rem;
}
.counterH13 {
	background: linear-gradient(to top right, red, blue);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	font-size: 3rem;
}
